version: 2.1

orbs:
  heroku: circleci/heroku@1.0.1 # Use the Heroku orb in your config

workflows:
  heroku_deploy:
    jobs:
      - build
      - heroku/deploy-via-git:
          requires:
            - build # only run deploy-via-git job if the build job has completed
          filters:
            branches:
              only: master # only run deploy-via-git job on master branch
